<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="google-site-verification" content="ngJrM0vZIs-N5_jGR9iwd6CHVvkL2Ry_94Grr2lGq74" />

    <!-- Open graph meta -->
    <meta property="og:title" content="www.aynrandtakesthingsliterally.com">
    <meta property="og:description" content="www.aynrandtakesthingsliterally.com" />
    <meta property="og:url" content="http://www.aynrandtakesthingsliterally.com.com">
    <meta property="og:site_name" content="www.aynrandtakesthingsliterally.com" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />

    <meta property="article:author" content="https://www.facebook.com/FloRida4presidence/" />
    <meta property="article:publisher" content="https://www.facebook.com/FloRida4presidence/" />
    <meta property="og:image" content="http://www.www.aynrandtakesthingsliterally.com.com/images/og.png" />
    <meta property="og:image:height" content="628" />
    <meta property="og:image:width" content="1200" />

    <meta name="apple-mobile-web-app-title" content="www.aynrandtakesthingsliterally.com">
    <link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icons/apple-touch-icon-57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/icons/apple-touch-icon-76-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icons/apple-touch-icon-152-precomposed.png" />
    <link rel="icon" type="image/png"
 href="/images/favicon.png" />

    <link rel="stylesheet" href="/css/application.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script src="https://use.typekit.net/rat5vaq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>