@import "_breakpoints";
@import "_headings";

@mixin blur ($blur) {
  @include prefixer(filter, blur($blur), webkit spec);
}

@mixin media-hack {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
  *display: block;
  //<=IE7
  *zoom: 1;
  //<=IE7
  *width: auto;
  //<=IE7
}