.button {
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 12px;
    line-height: 100%;
    margin: 12px 0;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    text-shadow: none;
    transition: background-color .2s ease-in-out;
    &:hover {
      background: #000;
      color: #fff;
    }
}

.button-search {
    padding: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    padding-top: 4px;
    margin: 0;
}

.icon-glyph-search {
    display: inline-block;
    position: relative;
    transform: rotate(-45deg);
    &:before,
    &:after {
        border-radius: 1000px;
        border: 1px solid;
        border-color: inherit;
        content: '';
        display: block;
    }
    &:before {
        height: 7px;
        width: 7px;
    }
    &:after {
        border-bottom: none;
        border-top: none;
        border-left: none;
        height: 5px;
        margin: 0 auto;
        width: 0;
    }
}

.button-menu {
    padding: 5px;
    display: none;
  @media screen and (max-width: 600px) {
    display: inline-block;
  }
}

.fb-icon,
.tw-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    float: right;
    margin-top: 10px;
    overflow: hidden;
    opacity: .3;
    &:hover {
        opacity: 1;
    }
    &-button {
        opacity: 0;
    }
}