
.icon {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0;
  font-style: normal;
}


.icon-dropdown {
  position: absolute;
  top: 55%;
  right: 0;
  @include transform(translateY(-50%));
}

.icon-radio,
.icon-checkbox,
.icon-circle,
.icon-square {
  margin-top: -6px;
  border-radius: 100px;
  border: 2px solid #fff;
  height: 16px;
  width: 16px;

  .list-item:hover & {
    border-color: #fff;
  }


  .list-item:active &,
  .is-selected &,
  .is-selected:hover &,
  .is-selected:active & {
    background: $grayBlueColor;
    border-color: $grayBlueColor;
  }
}

.icon-circle,
.icon-square {
  height: 24px;
  width: 24px;
  line-height: 20px;
  margin: 0 2px;
  
  &.is-selected {
    color: $grayBlueColor;
    background: #fff;
    border-color: #fff;
  }
  
  .tabs-link:hover & {
    border-color: $grayBlueColor;
    
    &.is-selected {
      background: $grayBlueColor;
      color: #fff;
    }
  }
}

.icon-square {
  border-radius: 2px;
}

.icon-checkbox {
  border-radius: 2px;
}

.icon-small {
  font-size: 12px;
}

.icon-large {
  font-size: 24px;
}


.icon-hamburger {
  display: inline-block;
  height: 2px;
  background: #fff;
  width: 16px;
  border-radius: 2px;
  vertical-align: middle;
  transition: all .4s linear;
  margin: -4px 12px 0 4px;

  &:before,
  &:after {
    content: "";
    display: block;
    margin-top: -6px;
    position: absolute;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    width: 16px;
    transition: all .4s linear;
  }

  &:after {
    margin-top: 6px;
  }


  .is-nav-side-active & {
    background: transparent;
    &:before {
      margin: 0;
      transition: all .4s linear;
      @include transform(rotate(45deg));
    }

    &:after {
      margin: 0;
      transition: all .4s linear;
      @include transform(rotate(-45deg));
    }

  }

}


.icon-spoke {
  height: 24px;
  width: 24px;
  @include animation(spin 1s infinite linear);
  @include transform-origin(center);
  &.dark .spoke:after {
    background: $grayBlueColor;
  }

  .spoke {
    display: block;
    width: 2px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -1px;
    
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: "";
      display: block;
      height: 6px;
      background: #fff;
      border-radius: 1000px;
    }

    
    &:nth-child(2) {
      opacity: .8;
      @include transform(rotate(30deg));
    }

    
    &:nth-child(3) {
      opacity: .16;
      @include transform(rotate(60deg));
    }

    
    &:nth-child(4) {
      opacity: .24;
      @include transform(rotate(90deg));
    }

    
    &:nth-child(5) {
      opacity: .32;
      @include transform(rotate(120deg));
    }

    
    &:nth-child(6) {
      opacity: .40;
      @include transform(rotate(150deg));
    }

    
    &:nth-child(7) {
      opacity: .50;
      @include transform(rotate(180deg));
    }

    
    &:nth-child(8) {
      opacity: .60;
      @include transform(rotate(210deg));
    }

    
    &:nth-child(9) {
      opacity: .60;
      @include transform(rotate(240deg));
    }

    
    &:nth-child(10) {
      opacity: .70;
      @include transform(rotate(270deg));
    }

    
    &:nth-child(11) {
      opacity: .8;
      @include transform(rotate(300deg));
    }

    
    &:nth-child(12) {
      opacity: .9;
      @include transform(rotate(330deg));
    }

  }

}


.icon-ellipsis,
.icon-more {
  display: inline-block;
  height: 3px;
  width: 3px;
  background: $grayBlueColor;
  border-radius: 2px;
  top: -4px;
  margin: 0 !important;

  &:before,
  &:after {
    content:"";
    display: block;
    position: absolute;
    height: 3px;
    width: 3px;
    background: $grayBlueColor;
    border-radius: 2px;
    left: -6px;
  }

  &:after {
    left: auto;
    right: -6px;
  }

  
  &.white-color {
    background: #fff;
    
    &:before,
    &:after {
      background: #fff;
    }

  }

}


.icon-more {
  top: -2px;
  &:before,
  &:after {
    left: auto;
    right: auto;
    top: -6px;
  }

  &:after {
    top: auto;
    bottom: -6px;
  }


  .button:hover & {
    background: #fff;
    &:before,
    &:after {
      background: #fff;
    }

  }

}




/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="icon-ss"]{-ms-zoom: 1;}


.icon-ss, [class^="icon-ss"], [class*=" icon-ss"] {
  &:before {
    font-family: "SSGeomiconsSquared";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
  }

}


.icon-ss-crosshair:before{content:'⌖'}.icon-ss-search:before{content:'🔎'}.icon-ss-view:before{content:'👀'}.icon-ss-link:before{content:'🔗'}.icon-ss-move:before{content:''}.icon-ss-write:before{content:'✎'}.icon-ss-compose:before{content:'📝'}.icon-ss-lock:before{content:'🔒'}.icon-ss-unlock:before{content:'🔓'}.icon-ss-key:before{content:'🔑'}.icon-ss-backspace:before{content:'⌫'}.icon-ss-ban:before{content:'🚫'}.icon-ss-trash:before{content:''}.icon-ss-radioactive:before{content:'☢'}.icon-ss-skull:before{content:'💀'}.icon-ss-lightning:before{content:'☇'}.icon-ss-tag:before{content:''}.icon-ss-bookmark:before{content:'🔖'}.icon-ss-flag:before,.icon-ss-politics:before{content:'⚑'}.icon-ss-like:before{content:'👍'}.icon-ss-dislike:before{content:'👎'}.icon-ss-heart:before,.icon-ss-love:before{content:'♥'}.icon-ss-star:before,.icon-ss-celebrities:before{content:'⋆'}.icon-ss-shield:before{content:''}.icon-ss-sports:before,.icon-ss-trophy:before{content:'🏆'}.icon-ss-medal:before{content:''}.icon-ss-crown:before{content:'👑'}.icon-ss-bullseye:before{content:'🎯'}.icon-ss-crop:before{content:''}.icon-ss-layers:before{content:''}.icon-ss-cut:before{content:'✂'}.icon-ss-clipboard:before{content:'📋'}.icon-ss-brush:before{content:''}.icon-ss-paintroller:before{content:''}.icon-ss-paint:before,.icon-ss-arts:before,.icon-ss-art-style:before{content:''}.icon-ss-phone:before{content:'📞'}.icon-ss-rotaryphone:before{content:'☎'}.icon-ss-voicemail:before{content:'⌕'}.icon-ss-megaphone:before{content:'📢'}.icon-ss-rss:before{content:''}.icon-ss-reply:before{content:'↩'}.icon-ss-envelope:before{content:'✉'}.icon-ss-inbox:before{content:'📥'}.icon-ss-chat:before{content:'💬'}.icon-ss-user:before{content:'👤'}.icon-ss-users:before{content:'👥'}.icon-ss-usergroup:before{content:''}.icon-ss-male:before{content:''}.icon-ss-userprofile:before{content:''}.icon-ss-contacts:before{content:'📇'}.icon-ss-ghost:before{content:'👻'}.icon-ss-cart:before{content:''}.icon-ss-emptycart:before{content:''}.icon-ss-gift:before{content:'🎁'}.icon-ss-calculator:before{content:''}.icon-ss-barchart:before{content:'📊'}.icon-ss-piechart:before{content:''}.icon-ss-business:before,.icon-ss-stock:before{content:''}.icon-ss-box:before{content:'📦'}.icon-ss-home:before{content:'⌂'}.icon-ss-warehouse:before{content:''}.icon-ss-geography:before,.icon-ss-globe:before{content:'🌐'}.icon-ss-navigate:before{content:''}.icon-ss-compass:before{content:''}.icon-ss-signpost:before{content:''}.icon-ss-map:before{content:''}.icon-ss-location:before{content:''}.icon-ss-pin:before{content:'📍'}.icon-ss-code:before{content:''}.icon-ss-bug:before{content:'🐛'}.icon-ss-puzzle:before{content:''}.icon-ss-airplay:before{content:''}.icon-ss-musicnote:before{content:'♫'}.icon-ss-mic:before{content:'🎤'}.icon-ss-music:before,.icon-ss-headphones:before{content:'🎧'}.icon-ss-volume:before{content:'🔈'}.icon-ss-metronome:before{content:''}.icon-ss-camera:before{content:'📷'}.icon-ss-nature:before,.icon-ss-picture:before{content:'🌄'}.icon-ss-movies:before,.icon-ss-video:before{content:'📹'}.icon-ss-tv:before,.icon-ss-tv-movies:before{content:'📺'}.icon-ss-games:before,.icon-ss-video-games:before{content:'🎮'}.icon-ss-dpad:before{content:''}.icon-ss-play:before{content:'▶'}.icon-ss-pause:before{content:''}.icon-ss-stop:before{content:'■'}.icon-ss-record:before{content:'●'}.icon-ss-rewind:before{content:'⏪'}.icon-ss-fastforward:before{content:'⏩'}.icon-ss-skipback:before{content:'⏮'}.icon-ss-skipforward:before{content:'⏭'}.icon-ss-eject:before{content:'⏏'}.icon-ss-repeat:before{content:'🔁'}.icon-ss-shuffle:before{content:'🔀'}.icon-ss-storagebox:before{content:''}.icon-ss-literature:before,.icon-ss-book:before{content:'📕'}.icon-ss-notebook:before{content:'📓'}.icon-ss-grid:before{content:''}.icon-ss-rows:before{content:''}.icon-ss-columns:before{content:''}.icon-ss-thumbnails:before{content:''}.icon-ss-filter:before{content:''}.icon-ss-desktop:before{content:'💻'}.icon-ss-laptop:before{content:''}.icon-ss-tablet:before{content:''}.icon-ss-smartphone:before{content:''}.icon-ss-cell:before{content:'📱'}.icon-ss-battery:before{content:'🔋'}.icon-ss-highbattery:before{content:''}.icon-ss-mediumbattery:before{content:''}.icon-ss-lowbattery:before{content:''}.icon-ss-emptybattery:before{content:''}.icon-ss-chargingbattery:before{content:''}.icon-ss-education:before,.icon-ss-lightbulb:before{content:'💡'}.icon-ss-spade:before{content:'♠'}.icon-ss-club:before{content:'♣'}.icon-ss-diamond:before{content:'♦'}.icon-ss-download:before{content:''}.icon-ss-downloadbox:before{content:''}.icon-ss-upload:before{content:''}.icon-ss-uploadcloud:before{content:''}.icon-ss-addcloud:before{content:''}.icon-ss-removecloud:before{content:''}.icon-ss-fork:before{content:''}.icon-ss-merge:before{content:''}.icon-ss-replay:before{content:'↺'}.icon-ss-refresh:before{content:'↻'}.icon-ss-sync:before{content:''}.icon-ss-wifi:before{content:''}.icon-ss-index:before{content:''}.icon-ss-file:before{content:'📄'}.icon-ss-files:before{content:''}.icon-ss-folder:before{content:'📁'}.icon-ss-print:before{content:'⎙'}.icon-ss-list:before{content:''}.icon-ss-layout:before{content:''}.icon-ss-action:before{content:''}.icon-ss-redirect:before{content:'↪'}.icon-ss-expand:before{content:'⤢'}.icon-ss-contract:before{content:''}.icon-ss-scaleup:before{content:''}.icon-ss-scaledown:before{content:''}.icon-ss-info:before{content:'ℹ'}.icon-ss-alert:before{content:'⚠'}.icon-ss-plus:before{content:'+'}.icon-ss-hyphen:before{content:'-'}.icon-ss-check:before{content:'✓'}.icon-ss-delete:before{content:'␡'}.icon-ss-cat:before,.icon-ss-animals:before{content:'🐈'}.icon-ss-bird:before{content:'🐦'}.icon-ss-owl:before{content:''}.icon-ss-bone:before{content:''}.icon-ss-poo:before,.icon-ss-humor:before{content:'💩'}.icon-ss-tree:before{content:'🌲'}.icon-ss-leaf:before{content:'🍂'}.icon-ss-flower:before{content:'⚘'}.icon-ss-mountains:before{content:'⛰'}.icon-ss-settings:before{content:'⚙'}.icon-ss-dashboard:before{content:''}.icon-ss-notifications:before{content:'🔔'}.icon-ss-contrast:before{content:'◐'}.icon-ss-magnet:before{content:''}.icon-ss-toolbox:before{content:''}.icon-ss-wrench:before{content:'🔧'}.icon-ss-hammer:before{content:'🔨'}.icon-ss-screwdriver:before{content:''}.icon-ss-nut:before{content:'🔩'}.icon-ss-history:before,.icon-ss-clock:before{content:'⏲'}.icon-ss-stopwatch:before{content:'⏱'}.icon-ss-watch:before{content:'⌚'}.icon-ss-alarmclock:before{content:'⏰'}.icon-ss-counterclockwise:before{content:'⥀'}.icon-ss-clockwise:before{content:'⥁'}.icon-ss-calendar:before{content:'📅'}.icon-ss-addcalendar:before{content:''}.icon-ss-removecalendar:before{content:''}.icon-ss-checkcalendar:before{content:''}.icon-ss-icecream:before{content:'🍨'}.icon-ss-popsicle:before{content:''}.icon-ss-coffee:before{content:''}.icon-ss-espresso:before{content:''}.icon-ss-mug:before{content:'☕'}.icon-ss-tea:before{content:'🍵'}.icon-ss-beer:before{content:'🍺'}.icon-ss-wineglass:before{content:'🍷'}.icon-ss-soda:before{content:''}.icon-ss-utensils:before,.icon-ss-food-drink:before{content:'🍴'}.icon-ss-tshirt:before{content:'👕'}.icon-ss-tie:before{content:''}.icon-ss-glasses:before,.icon-ss-beauty:before{content:'👓'}.icon-ss-thermometer:before{content:''}.icon-ss-sun:before{content:'☀'}.icon-ss-cloud:before{content:'☁'}.icon-ss-crescentmoon:before{content:'🌙'}.icon-ss-science:before,.icon-ss-science-technology:before,.icon-ss-planet:before{content:''}.icon-ss-fan:before{content:''}.icon-ss-outlet:before{content:''}.icon-ss-car:before,.icon-ss-automotive:before{content:'🚘'}.icon-ss-plane:before,.icon-ss-world-travel:before{content:'✈'}.icon-ss-bike:before,.icon-ss-health-fitness:before{content:'🚲'}.icon-ss-lifestyle:before,.icon-ss-sailboat:before{content:'⛵'}.icon-ss-rocket:before{content:'🚀'}.icon-ss-highway:before{content:''}.icon-ss-briefcase:before{content:'💼'}.icon-ss-medicalbag:before{content:''}.icon-ss-flask:before{content:''}.icon-ss-burst:before{content:''}.icon-ss-infinity:before, .icon-ss-religion:before{content:'∞'}.icon-ss-up:before{content:'⬆'}.icon-ss-right:before{content:'➡'}.icon-ss-down:before{content:'⬇'}.icon-ss-left:before{content:'⬅'}.icon-ss-navigateup:before{content:''}.icon-ss-navigateright:before{content:'▻'}.icon-ss-navigatedown:before{content:''}.icon-ss-navigateleft:before{content:'◅'}.icon-ss-directup:before{content:'▴'}.icon-ss-directright:before{content:'▹'}.icon-ss-dropdown:before{content:'▾'}.icon-ss-directleft:before{content:'◃'}.icon-ss-share:before{content:''}.icon-ss-retweet:before{content:''}.icon-ss-facebook:before{content:''}.icon-ss-twitter:before{content:''}.icon-ss-android:before{content:''}


.icon-ss-compose:before {
  margin: 0 -.1em 0 0;
  text-indent: .1em;
}


/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="icon-ss-social"]{-ms-zoom: 1;}


.icon-ss-social, [class^="icon-ss-social"], [class*=" icon-ss-social"] {  
  &:before {
    font-family: "SSSocialRegular";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
  }

}


.icon-ss-social-facebook:before{content:''}.icon-ss-social-twitter:before{content:''}.icon-ss-social-linkedin:before{content:''}.icon-ss-social-googleplus:before{content:''}.icon-ss-social-appdotnet:before{content:''}.icon-ss-social-zerply:before{content:''}.icon-ss-social-reddit:before{content:''}.icon-ss-social-steam:before{content:''}.icon-ss-social-tumblr:before{content:''}.icon-ss-social-wordpress:before{content:''}.icon-ss-social-blogger:before{content:''}.icon-ss-social-posterous:before{content:''}.icon-ss-social-quora:before{content:''}.icon-ss-social-youtube:before{content:''}.icon-ss-social-vimeo:before{content:''}.icon-ss-social-vine:before{content:''}.icon-ss-social-letterboxd:before{content:''}.icon-ss-social-flickr:before{content:''}.icon-ss-social-instagram:before{content:''}.icon-ss-social-500px:before{content:''}.icon-ss-social-etsy:before{content:''}.icon-ss-social-pinterest:before{content:''}.icon-ss-social-svpply:before{content:''}.icon-ss-social-readmill:before{content:''}.icon-ss-social-dropbox:before{content:''}.icon-ss-social-pinboard:before{content:''}.icon-ss-social-delicious:before{content:''}.icon-ss-social-dribbble:before{content:''}.icon-ss-social-behance:before{content:''}.icon-ss-social-github:before{content:''}.icon-ss-social-octocat:before{content:''}.icon-ss-social-stackoverflow:before{content:''}.icon-ss-social-paypal:before{content:''}.icon-ss-social-kickstarter:before{content:''}.icon-ss-social-foursquare:before{content:''}.icon-ss-social-yelp:before{content:''}.icon-ss-social-skype:before{content:''}.icon-ss-social-rdio:before{content:''}.icon-ss-social-spotify:before{content:''}.icon-ss-social-lastfm:before{content:''}.icon-ss-social-soundcloud:before{content:''}.icon-ss-social-link:before{content:'🔗'}.icon-ss-social-phone:before{content:'📞'}.icon-ss-social-mail:before{content:'✉'}.icon-ss-social-like:before{content:'👍'}.icon-ss-social-rss:before{content:''}.icon-ss-social-share:before{content:''}.icon-ss-social-apple:before{content:''}.icon-ss-social-microsoft:before{content:''}.icon-ss-social-windows:before{content:''}.icon-ss-social-android:before{content:''}.icon-ss-social-blackberry:before{content:''}