// default bg colors
$purple:    #9559ce;
$blue:      #759EE0;
$teal:      #62C6C8;
$mint:      #52c291;
$lime:      #b6d561;
$yellow:    #ECC761;
$orange:    #eaa440;
$redOrange: #ea8b5d;
$red:       #de514d;
$pink:      #ec94e7;
$royal:     #4A7DE3;
$black:     #192129;

$accentColor: $red;
$grayDarkColor: rgba(34,36,38,1);
$grayBlueColor: #5E6677;
$grayBlueDarkColor: #475461;
$grayBlueDarkerColor: #343F4A;
$grayLightColor: #EEEFF8;

$lightGray: #EEEFF8;
$blueGray: #6B7885;
$darkGray: #475461;
$inactiveGray: rgba(107, 120, 133, 0.2);
$midGray: rgba(107, 120, 133, 0.5);
$charcoal: #343F4A;


$linkColor: $accentColor;
$correct-color: $mint;
$incorrect-color: $red;