.flex {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
}

.grid {
  @include clearfix;
  display: block;
  padding: 0 $gridGutterHalfPX;
  max-width: 1440px;
  margin: 0 auto;

  @include breakpoint(WXS) {
    padding: 0 $gridGutterQuarterPX;
  }
}

.grid-gallery {
  margin: 0;
  padding: 0;
  text-align: center;
  
  .col, [class^="col-"], [class*=" col-"] {
    padding: 0;
  }
}

.grid-gallery-stacked {
  .col, [class^="col-"], [class*=" col-"] {
    padding: 2px 0;
  }
}

.grid-gallery-use-cases {
  .col, [class^="col-"], [class*=" col-"] {
    padding: 2px;
  }
}

.grid-gallery-about {
  .col, [class^="col-"], [class*=" col-"] {
    padding: 0;
  }
}

.grid-no-gutter {
  padding: 0;
  .col, [class^="col-"], [class*=" col-"] {
    padding: 0;
  }
}

.grid-nested {
  padding: 0;
  margin: 0 (-$gridGutterHalfPX);

  @include breakpoint(WXS) {
    margin: 0 (-$gridGutterQuarterPX);
  }
}

.col, [class^="col-"], [class*=" col-"] {
  display: block;
  float: left;
  padding: 0 $gridGutterHalfPX;

  @include breakpoint(WXS) {
    padding: 0 $gridGutterQuarterPX;
  }
}

//helpers
.col-1of2              {width:50%;}
.col-1of3              {width:33.3333336%;}
.col-2of3              {width:66.6666666%;}
.col-1of4              {width:25%;}
.col-1of5              {width:20%;}
.col-3of4              {width:75%;}
.col-1of6              {width:16.6666666%;}
.col-1of8              {width:12.5%;}
.col-1of12             {width:8.3333333;}

.col-1                 {width:8.33333333%;}
.col-2                 {width:16.6666667%;}
.col-3                 {width:25%;}
.col-4                 {width:33.3333333%;}
.col-5                 {width:41.6666666%;}
.col-6                 {width:50%;}
.col-7                 {width:58.3333333%;}
.col-8                 {width:66.6666666%;}
.col-9                 {width:75%;}
.col-10                {width:83.3333333%;}
.col-11                {width:91.6666666%;}
.col-12                {width:100%}

.col-offset-1          {margin-left:8.33333333%;}
.col-offset-2          {margin-left:16.6666667%;}
.col-offset-3          {margin-left:25%;}
.col-offset-4          {margin-left:33.3333333%;}
.col-offset-5          {margin-left:41.6666666%;}
.col-offset-6          {margin-left:50%;}
.col-offset-7          {margin-left:58.3333333%;}
.col-offset-8          {margin-left:66.6666666%;}
.col-offset-9          {margin-left:75%;}
.col-offset-10         {margin-left:83.3333333%;}
.col-offset-11         {margin-left:91.6666666%;}
.col-offset-12         {margin-left:100%}

.display-block         {display: block !important;}
.display-inline-block  {display: inline-block !important;}
.display-none          {display: none !important;}


@include breakpoint(WXXXL) {
  .wxxxl-block         {display: block;}
  .wxxxl-inline-block  {display: inline-block;}
  .wxxxl-none          {display: none;}
  .col-wxxxl-1         {width:8.33333333%;}
  .col-wxxxl-2         {width:16.6666667%;}
  .col-wxxxl-3         {width:25%;}
  .col-wxxxl-4         {width:33.3333333%;}
  .col-wxxxl-5         {width:41.6666666%;}
  .col-wxxxl-6         {width:50%;}
  .col-wxxxl-7         {width:58.3333333%;}
  .col-wxxxl-8         {width:66.6666666%;}
  .col-wxxxl-9         {width:75%;}
  .col-wxxxl-10        {width:83.3333333%;}
  .col-wxxxl-11        {width:91.6666666%;}
  .col-wxxxl-12        {width:100%}

  .col-wxxxl-offset-0  {margin-left:0;}
  .col-wxxxl-offset-1  {margin-left:8.33333333%;}
  .col-wxxxl-offset-2  {margin-left:16.6666667%;}
  .col-wxxxl-offset-3  {margin-left:25%;}
  .col-wxxxl-offset-4  {margin-left:33.3333333%;}
  .col-wxxxl-offset-5  {margin-left:41.6666666%;}
  .col-wxxxl-offset-6  {margin-left:50%;}
  .col-wxxxl-offset-7  {margin-left:58.3333333%;}
  .col-wxxxl-offset-8  {margin-left:66.6666666%;}
  .col-wxxxl-offset-9  {margin-left:75%;}
  .col-wxxxl-offset-10 {margin-left:83.3333333%;}
  .col-wxxxl-offset-11 {margin-left:91.6666666%;}
  .col-wxxxl-offset-12 {margin-left:100%}
}

@include breakpoint(WXXL) {
  .wxxl-block          {display: block;}
  .wxxl-inline-block   {display: inline-block;}
  .wxxl-none           {display: none;}
  .col-wxxl-1          {width:8.33333333%;}
  .col-wxxl-2          {width:16.6666667%;}
  .col-wxxl-3          {width:25%;}
  .col-wxxl-4          {width:33.3333333%;}
  .col-wxxl-5          {width:41.6666666%;}
  .col-wxxl-6          {width:50%;}
  .col-wxxl-7          {width:58.3333333%;}
  .col-wxxl-8          {width:66.6666666%;}
  .col-wxxl-9          {width:75%;}
  .col-wxxl-10         {width:83.3333333%;}
  .col-wxxl-11         {width:91.6666666%;}
  .col-wxxl-12         {width:100%}

  .col-wxxl-offset-0   {margin-left:0;}
  .col-wxxl-offset-1   {margin-left:8.33333333%;}
  .col-wxxl-offset-2   {margin-left:16.6666667%;}
  .col-wxxl-offset-3   {margin-left:25%;}
  .col-wxxl-offset-4   {margin-left:33.3333333%;}
  .col-wxxl-offset-5   {margin-left:41.6666666%;}
  .col-wxxl-offset-6   {margin-left:50%;}
  .col-wxxl-offset-7   {margin-left:58.3333333%;}
  .col-wxxl-offset-8   {margin-left:66.6666666%;}
  .col-wxxl-offset-9   {margin-left:75%;}
  .col-wxxl-offset-10  {margin-left:83.3333333%;}
  .col-wxxl-offset-11  {margin-left:91.6666666%;}
  .col-wxxl-offset-12  {margin-left:100%}
}

@include breakpoint(WXL) {
  .wxl-block           {display: block;}
  .wxl-inline-block    {display: inline-block;}
  .wxl-none            {display: none !important;}
  .col-wxl-1           {width:8.33333333%;}
  .col-wxl-2           {width:16.6666667%;}
  .col-wxl-3           {width:25%;}
  .col-wxl-4           {width:33.3333333%;}
  .col-wxl-5           {width:41.6666666%;}
  .col-wxl-6           {width:50%;}
  .col-wxl-7           {width:58.3333333%;}
  .col-wxl-8           {width:66.6666666%;}
  .col-wxl-9           {width:75%;}
  .col-wxl-10          {width:83.3333333%;}
  .col-wxl-11          {width:91.6666666%;}
  .col-wxl-12          {width:100%}

  .col-wxl-offset-0    {margin-left:0;}
  .col-wxl-offset-1    {margin-left:8.33333333%;}
  .col-wxl-offset-2    {margin-left:16.6666667%;}
  .col-wxl-offset-3    {margin-left:25%;}
  .col-wxl-offset-4    {margin-left:33.3333333%;}
  .col-wxl-offset-5    {margin-left:41.6666666%;}
  .col-wxl-offset-6    {margin-left:50%;}
  .col-wxl-offset-7    {margin-left:58.3333333%;}
  .col-wxl-offset-8    {margin-left:66.6666666%;}
  .col-wxl-offset-9    {margin-left:75%;}
  .col-wxl-offset-10   {margin-left:83.3333333%;}
  .col-wxl-offset-11   {margin-left:91.6666666%;}
  .col-wxl-offset-12   {margin-left:100%}
}

@include breakpoint(WL) {
  .wl-block            {display: block;}
  .wl-inline-block     {display: inline-block;}
  .wl-none             {display: none !important;}
  .col-wl-1            {width:8.33333333%;}
  .col-wl-2            {width:16.6666667%;}
  .col-wl-3            {width:25%;}
  .col-wl-4            {width:33.3333333%;}
  .col-wl-5            {width:41.6666666%;}
  .col-wl-6            {width:50%;}
  .col-wl-7            {width:58.3333333%;}
  .col-wl-8            {width:66.6666666%;}
  .col-wl-9            {width:75%;}
  .col-wl-10           {width:83.3333333%;}
  .col-wl-11           {width:91.6666666%;}
  .col-wl-12           {width:100%}

  .col-wl-offset-0    {margin-left:0;}
  .col-wl-offset-1     {margin-left:8.33333333%;}
  .col-wl-offset-2     {margin-left:16.6666667%;}
  .col-wl-offset-3     {margin-left:25%;}
  .col-wl-offset-4     {margin-left:33.3333333%;}
  .col-wl-offset-5     {margin-left:41.6666666%;}
  .col-wl-offset-6     {margin-left:50%;}
  .col-wl-offset-7     {margin-left:58.3333333%;}
  .col-wl-offset-8     {margin-left:66.6666666%;}
  .col-wl-offset-9     {margin-left:75%;}
  .col-wl-offset-10    {margin-left:83.3333333%;}
  .col-wl-offset-11    {margin-left:91.6666666%;}
  .col-wl-offset-12    {margin-left:100%}
}

@include breakpoint(WM) {
  .wm-block            {display: block;}
  .wm-inline-block     {display: inline-block;}
  .wm-none             {display: none;}
  .col-wm-1            {width:8.33333333%;}
  .col-wm-2            {width:16.6666667%;}
  .col-wm-3            {width:25%;}
  .col-wm-4            {width:33.3333333%;}
  .col-wm-5            {width:41.6666666%;}
  .col-wm-6            {width:50%;}
  .col-wm-7            {width:58.3333333%;}
  .col-wm-8            {width:66.6666666%;}
  .col-wm-9            {width:75%;}
  .col-wm-10           {width:83.3333333%;}
  .col-wm-11           {width:91.6666666%;}
  .col-wm-12           {width:100%}

  .col-wm-offset-0     {margin-left:0;}
  .col-wm-offset-1     {margin-left:8.33333333%;}
  .col-wm-offset-2     {margin-left:16.6666667%;}
  .col-wm-offset-3     {margin-left:25%;}
  .col-wm-offset-4     {margin-left:33.3333333%;}
  .col-wm-offset-5     {margin-left:41.6666666%;}
  .col-wm-offset-6     {margin-left:50%;}
  .col-wm-offset-7     {margin-left:58.3333333%;}
  .col-wm-offset-8     {margin-left:66.6666666%;}
  .col-wm-offset-9     {margin-left:75%;}
  .col-wm-offset-10    {margin-left:83.3333333%;}
  .col-wm-offset-11    {margin-left:91.6666666%;}
  .col-wm-offset-12    {margin-left:100%}
}

@include breakpoint(WS) {
  .ws-block            {display: block;}
  .ws-inline-block     {display: inline-block;}
  .ws-none             {display: none;}
  .col-ws-1            {width:8.33333333%;}
  .col-ws-2            {width:16.6666667%;}
  .col-ws-3            {width:25%;}
  .col-ws-4            {width:33.3333333%;}
  .col-ws-5            {width:41.6666666%;}
  .col-ws-6            {width:50%;}
  .col-ws-7            {width:58.3333333%;}
  .col-ws-8            {width:66.6666666%;}
  .col-ws-9            {width:75%;}
  .col-ws-10           {width:83.3333333%;}
  .col-ws-11           {width:91.6666666%;}
  .col-ws-12           {width:100%}

  .col-ws-offset-0     {margin-left:0;}
  .col-ws-offset-1     {margin-left:8.33333333%;}
  .col-ws-offset-2     {margin-left:16.6666667%;}
  .col-ws-offset-3     {margin-left:25%;}
  .col-ws-offset-4     {margin-left:33.3333333%;}
  .col-ws-offset-5     {margin-left:41.6666666%;}
  .col-ws-offset-6     {margin-left:50%;}
  .col-ws-offset-7     {margin-left:58.3333333%;}
  .col-ws-offset-8     {margin-left:66.6666666%;}
  .col-ws-offset-9     {margin-left:75%;}
  .col-ws-offset-10    {margin-left:83.3333333%;}
  .col-ws-offset-11    {margin-left:91.6666666%;}
  .col-ws-offset-12    {margin-left:100%}
}

@include breakpoint(WXS) {
  .wxs-block            {display: block;}
  .wxs-inline-block     {display: inline-block;}
  .wxs-none             {display: none;}
  .col-wxs-1           {width:8.33333333%;}
  .col-wxs-2           {width:16.6666667%;}
  .col-wxs-3           {width:25%;}
  .col-wxs-4           {width:33.3333333%;}
  .col-wxs-5           {width:41.6666666%;}
  .col-wxs-6           {width:50%;}
  .col-wxs-7           {width:58.3333333%;}
  .col-wxs-8           {width:66.6666666%;}
  .col-wxs-9           {width:75%;}
  .col-wxs-10          {width:83.3333333%;}
  .col-wxs-11          {width:91.6666666%;}
  .col-wxs-12          {width:100%}

  .col-wxs-offset-0    {margin-left:0;}
  .col-wxs-offset-1    {margin-left:8.33333333%;}
  .col-wxs-offset-2    {margin-left:16.6666667%;}
  .col-wxs-offset-3    {margin-left:25%;}
  .col-wxs-offset-4    {margin-left:33.3333333%;}
  .col-wxs-offset-5    {margin-left:41.6666666%;}
  .col-wxs-offset-6    {margin-left:50%;}
  .col-wxs-offset-7    {margin-left:58.3333333%;}
  .col-wxs-offset-8    {margin-left:66.6666666%;}
  .col-wxs-offset-9    {margin-left:75%;}
  .col-wxs-offset-10   {margin-left:83.3333333%;}
  .col-wxs-offset-11   {margin-left:91.6666666%;}
  .col-wxs-offset-12   {margin-left:100%}
}

@include breakpoint(WXXS) {
  .col-wxxs-1          {width:8.33333333%;}
  .col-wxxs-2          {width:16.6666667%;}
  .col-wxxs-3          {width:25%;}
  .col-wxxs-4          {width:33.3333333%;}
  .col-wxxs-5          {width:41.6666666%;}
  .col-wxxs-6          {width:50%;}
  .col-wxxs-7          {width:58.3333333%;}
  .col-wxxs-8          {width:66.6666666%;}
  .col-wxxs-9          {width:75%;}
  .col-wxxs-10         {width:83.3333333%;}
  .col-wxxs-11         {width:91.6666666%;}
  .col-wxxs-12         {width:100%}

  .col-wxxs-offset-0   {margin-left:0%;}
  .col-wxxs-offset-1   {margin-left:8.33333333%;}
  .col-wxxs-offset-2   {margin-left:16.6666667%;}
  .col-wxxs-offset-3   {margin-left:25%;}
  .col-wxxs-offset-4   {margin-left:33.3333333%;}
  .col-wxxs-offset-5   {margin-left:41.6666666%;}
  .col-wxxs-offset-6   {margin-left:50%;}
  .col-wxxs-offset-7   {margin-left:58.3333333%;}
  .col-wxxs-offset-8   {margin-left:66.6666666%;}
  .col-wxxs-offset-9   {margin-left:75%;}
  .col-wxxs-offset-10  {margin-left:83.3333333%;}
  .col-wxxs-offset-11  {margin-left:91.6666666%;}
  .col-wxxs-offset-12  {margin-left:100%}
}

// Padding helpers
.pan,.psan     { padding: 0 !important; }
.pa1,.psa1     { padding: ($gridGutterValue/3)+px !important; }
.pa2,.psa2     { padding: ($gridGutterValue/2)+px !important; }
.pa3,.psa3     { padding: ($gridGutterValue/1.5)+px !important; }
.pa4,.psa4     { padding: ($gridGutterValue)+px !important; }
.pa5,.psa5     { padding: ($gridGutterValue*2)+px !important; }
.pa6,.psa6     { padding: ($gridGutterValue*3)+px !important; }
.pa7,.psa7     { padding: ($gridGutterValue*4)+px !important; }
    
.ptn,.pstn     { padding-top: 0 !important; }
.pt1,.pst1     { padding-top: ($gridGutterValue/3)+px !important; }
.pt2,.pst2     { padding-top: ($gridGutterValue/2)+px !important; }
.pt3,.pst3     { padding-top: ($gridGutterValue/1.5)+px !important; }
.pt4,.pst4     { padding-top: ($gridGutterValue)+px !important; }
.pt5,.pst5     { padding-top: ($gridGutterValue*2)+px !important; }
.pt6,.pst6     { padding-top: ($gridGutterValue*3)+px !important; }
.pt7,.pst7     { padding-top: ($gridGutterValue*4)+px !important; }
    
.prn,.psrn     { padding-right: 0 !important; }
.pr1,.psr1     { padding-right: ($gridGutterValue/3)+px !important; }
.pr2,.psr2     { padding-right: ($gridGutterValue/2)+px !important; }
.pr3,.psr3     { padding-right: ($gridGutterValue/1.5)+px !important; }
.pr4,.psr4     { padding-right: ($gridGutterValue)+px !important; }
.pr5,.psr5     { padding-right: ($gridGutterValue*2)+px !important; }
.pr6,.psr6     { padding-right: ($gridGutterValue*3)+px !important; }
.pr7,.psr7     { padding-right: ($gridGutterValue*4)+px !important; }
    
.pbn,.psbn     { padding-bottom: 0 !important; }
.pb1,.psb1     { padding-bottom: ($gridGutterValue/3)+px !important; }
.pb2,.psb2     { padding-bottom: ($gridGutterValue/2)+px !important; }
.pb3,.psb3     { padding-bottom: ($gridGutterValue/1.5)+px !important; }
.pb4,.psb4     { padding-bottom: ($gridGutterValue)+px !important; }
.pb5,.psb5     { padding-bottom: ($gridGutterValue*2)+px !important; }
.pb6,.psb6     { padding-bottom: ($gridGutterValue*3)+px !important; }
.pb7,.psb7     { padding-bottom: ($gridGutterValue*4)+px !important; }
    
.pln,.psln     { padding-left: 0 !important; }
.pl1,.psl1     { padding-left: ($gridGutterValue/3)+px !important; }
.pl2,.psl2     { padding-left: ($gridGutterValue/2)+px !important; }
.pl3,.psl3     { padding-left: ($gridGutterValue/1.5)+px !important; }
.pl4,.psl4     { padding-left: ($gridGutterValue)+px !important; }
.pl5,.psl5     { padding-left: ($gridGutterValue*2)+px !important; }
.pl6,.psl6     { padding-left: ($gridGutterValue*3)+px !important; }
.pl7,.psl7     { padding-left: ($gridGutterValue*4)+px !important; }


@include breakpoint(WM) {
  .psa4     { padding: ($gridGutterValue/2)+px !important; }
  .psa5     { padding: ($gridGutterValue)+px !important; }
  .psa6     { padding: ($gridGutterValue*1.5)+px !important; }
  .psa7     { padding: ($gridGutterValue*2)+px !important; }
      
  .pst4     { padding-top: ($gridGutterValue/2)+px !important; }
  .pst5     { padding-top: ($gridGutterValue)+px !important; }
  .pst6     { padding-top: ($gridGutterValue*1.5)+px !important; }
  .pst7     { padding-top: ($gridGutterValue*2)+px !important; }
      
  .psr4     { padding-right: ($gridGutterValue/2)+px !important; }
  .psr5     { padding-right: ($gridGutterValue)+px !important; }
  .psr6     { padding-right: ($gridGutterValue*1.5)+px !important; }
  .psr7     { padding-right: ($gridGutterValue*2)+px !important; }
      
  .psb4     { padding-bottom: ($gridGutterValue/2)+px !important; }
  .psb5     { padding-bottom: ($gridGutterValue)+px !important; }
  .psb6     { padding-bottom: ($gridGutterValue*1.5)+px !important; }
  .psb7     { padding-bottom: ($gridGutterValue*2)+px !important; }
      
  .psl4     { padding-left: ($gridGutterValue/2)+px !important; }
  .psl5     { padding-left: ($gridGutterValue)+px !important; }
  .psl6     { padding-left: ($gridGutterValue*1.5)+px !important; }
  .psl7     { padding-left: ($gridGutterValue*2)+px !important; }
}

// Margin helpers
.man     { margin: 0 !important; }
.ma1     { margin: ($gridGutterValue/3)+px !important; }
.ma2     { margin: ($gridGutterValue/2)+px !important; }
.ma3     { margin: ($gridGutterValue/1.5)+px !important; }
.ma4     { margin: ($gridGutterValue)+px !important; }
.ma5     { margin: ($gridGutterValue*2)+px !important; }
.ma6     { margin: ($gridGutterValue*3)+px !important; }
.ma7     { margin: ($gridGutterValue*4)+px !important; }
    
.mtn     { margin-top: 0 !important; }
.mt1     { margin-top: ($gridGutterValue/3)+px !important; }
.mt2     { margin-top: ($gridGutterValue/2)+px !important; }
.mt3     { margin-top: ($gridGutterValue/1.5)+px !important; }
.mt4     { margin-top: ($gridGutterValue)+px !important; }
.mt5     { margin-top: ($gridGutterValue*2)+px !important; }
.mt6     { margin-top: ($gridGutterValue*3)+px !important; }
.mt7     { margin-top: ($gridGutterValue*4)+px !important; }
    
.mrn     { margin-right: 0 !important; }
.mr1     { margin-right: ($gridGutterValue/3)+px !important; }
.mr2     { margin-right: ($gridGutterValue/2)+px !important; }
.mr3     { margin-right: ($gridGutterValue/1.5)+px !important; }
.mr4     { margin-right: ($gridGutterValue)+px !important; }
.mr5     { margin-right: ($gridGutterValue*2)+px !important; }
.mr6     { margin-right: ($gridGutterValue*3)+px !important; }
.mr7     { margin-right: ($gridGutterValue*4)+px !important; }
    
.mbn     { margin-bottom: 0 !important; }
.mb1     { margin-bottom: ($gridGutterValue/3)+px !important; }
.mb2     { margin-bottom: ($gridGutterValue/2)+px !important; }
.mb3     { margin-bottom: ($gridGutterValue/1.5)+px !important; }
.mb4     { margin-bottom: ($gridGutterValue)+px !important; }
.mb5     { margin-bottom: ($gridGutterValue*2)+px !important; }
.mb6     { margin-bottom: ($gridGutterValue*3)+px !important; }
.mb7     { margin-bottom: ($gridGutterValue*4)+px !important; }

.mln     { margin-left: 0 !important; }
.ml1     { margin-left: ($gridGutterValue/3)+px !important; }
.ml2     { margin-left: ($gridGutterValue/2)+px !important; }
.ml3     { margin-left: ($gridGutterValue/1.5)+px !important; }
.ml4     { margin-left: ($gridGutterValue)+px !important; }
.ml5     { margin-left: ($gridGutterValue*2)+px !important; }
.ml6     { margin-left: ($gridGutterValue*3)+px !important; }
.ml7     { margin-left: ($gridGutterValue*4)+px !important; }